<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
          <!--   <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" ></button> -->
        </ng-template>   
    </p-toolbar>

    <p-table #dt [value]="users" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','usuario']"
        [(selection)]="selectedUsers" [rowHover]="true" dataKey="idUsuario"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Aministración de Usuarios</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="activo">Activo <p-sortIcon field="activo"></p-sortIcon></th>
                <th pSortableColumn="usuario">Usuario <p-sortIcon field="usuario"></p-sortIcon></th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
               <!--  <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td> -->
                <td>{{user.nombre}}</td>
                <td>
                    {{user.activo}}
                </td>
                <td>{{user.usuario}}</td>
               
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"  (click)="edit(user)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="Detalle de usuario" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="nombre">Nombre</label>
            <input type="text" pInputText id="nombre" [(ngModel)]="user.nombre" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !user.nombre">El nombre es requerido.</small>
        </div>
        <div class="p-field">
            <label for="usuario">Usuario</label>
            <input id="usuario" pInputText [(ngModel)]="user.usuario" />
            <small class="p-invalid" *ngIf="submitted && !user.usuario">El usuario es requerido.</small> 
        </div>
        <div class="p-field">
            <label for="rol">Rol</label>
            <p-dropdown [autoDisplayFirst]="false"
            [(ngModel)]="selectedRolId"
            [virtualScroll]="true" [virtualScrollItemSize]="30"
            [options]="roles"  optionLabel="nombreRol" optionValue="idRol"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="rol">Estatus</label>
            <p-dropdown [autoDisplayFirst]="false"
            
            [(ngModel)]="this.selectedSatus"
            [virtualScroll]="true" [virtualScrollItemSize]="30"
            [options]="status"  optionLabel="label" optionValue="val"></p-dropdown>
        </div>
        <div class="p-field">
            <br>
        </div>
          
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>